<select id="findActiveBlogWithTitleLike" resultType="Blog">
  WITH ranks AS (
    SELECT
      id,
      topic,
      score,
      ROW_NUMBER() over(PARTITION BY topic ORDER BY score DESC) as row_number
    FROM posts
    <where>
      <if test="topics != null">
        topic IN ('databases', 'compilers')
      </if>
      <if test="created_at != null">
        created_at > created_at - INTERVAL '30 days'
      </if>
    </where>
    )
    SELECT * FROM ranks r WHERE r.row_number &lt;= 5;
</select>